<span id="location">
    <img src="./image/map.png" alt="">
    <div id="popup">
        <span id="popup-close"><i class="fa-solid fa-xmark"></i></span>
        <h2>Enter Location</h2>
        <button type="button" id="auto-location">Auto</button>
        <button type="button" id="manual-location">Manual</button>
    </div>
</span>