<span id="range">
    <img src="./image/range.png" alt="">
    <div id="range-popup">
        <span id="range-popup-close"><i class="fa-solid fa-xmark"></i></span>
        <h2>Enter Range</h2>
        <input type="text" id="buy-limit" placeholder="Buy Limit" required>
        <div id="range-popup-row">
            <input type="text" id="radius" placeholder="Radius" required>
            <button id="range-save">Save</button>
        </div>
    </div>


</span>